@font-face {
  font-family: footlight;
  src: url("Footlight MT Light Regular.ttf");
}

body {
  font-family: footlight;
  font-size: x-large;
  background-color: #440607;
  color: white;
}

div {
  font-family: footlight;
  font-size: x-large;
  background-color: #440607;
  color: white;
}

h2 {
  font-family: footlight;
  font-size: xx-large;
  background-color: #440607;
  color: #fcd86f;
}